{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1.0,
      "type" : "be_bagger288mining"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/be_silentyoyo.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 2,
      "explosiveDamageAmount" : 100,
      "harvestLevel" : 0,
      "delaySteps" : 2
    }

  ]
}
