{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/items/portablegprconsole/portablegprconsoleheader.png",
      "fileBody" : "/items/portablegprconsole/portablegprconsolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [39, 3, 281, 278],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    
    "icon" : {
    "type" : "image",
    "file" : "/objects/gprconsole/gpr.png",
    "position" : [34, 282],
    "zlevel" : -1
    },
    "title" : {
      "type" : "label",
      "position" : [58, 292],
      "hAnchor" : "left",
      "value" : "Handheld GPR-Mapper",
      "color" : [255, 255, 255],
      "fontSize" : 10
    },
	  "subtitle" : {
      "type" : "label",
      "position" : [58, 284],
      "hAnchor" : "left",
      "value" : "Handheld Ground-Penetrating Radar Station",
      "color" : [255, 255, 255],
      "fontSize" : 7
    },
    
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/exit.png",
      "hover" : "/interface/buttons/exit.png",
      "pressed" : "/interface/buttons/exit-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [267, 286]
    },
    
    "up" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/buttonup.png",
      "hover" : "/interface/buttons/buttonup.png",
      "pressed" : "/interface/buttons/buttonup-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [53, 42],
      "callback" : "PanUp"
    },
    "down" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/buttondown.png",
      "hover" : "/interface/buttons/buttondown.png",
      "pressed" : "/interface/buttons/buttondown-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [53, 8],
      "callback" : "PanDown"
    },
    "left" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/buttonleft.png",
      "hover" : "/interface/buttons/buttonleft.png",
      "pressed" : "/interface/buttons/buttonleft-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [36, 25],
      "callback" : "PanLeft"
    },
    "right" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/buttonright.png",
      "hover" : "/interface/buttons/buttonright.png",
      "pressed" : "/interface/buttons/buttonright-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [70, 25],
      "callback" : "PanRight"
    },
    "return" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/buttons/buttonreturn.png",
      "hover" : "/interface/buttons/buttonreturn.png",
      "pressed" : "/interface/buttons/buttonreturn-pressed.png",
      "pressedOffset" : [0, -1],
      "position" : [53, 25],
      "callback" : "PanCenter"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "PanUp",
    "PanDown",
    "PanLeft",
    "PanRight",
    "PanCenter"
  ],
  
  "canvasClickCallbacks" : {
    "consoleScreenCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "consoleScreenCanvas" : "canvasKeyEvent"
  },
  
  "scripts" : [ "/items/portablegprconsole/handheldgprconsolegui.lua" ],
  
  "portable" : false
}
